@{
    ViewData["Title"] = "About";
}

<h3>@ViewData["Message"]</h3> 
<h4>
    The OIT Enterprise Resources team can create web-based forms to be completed by tribal employees that can be emailed to
    the department responsible. Please contact us if you need any forms that would best meet your support needs within your program.
</h4>
<h3>Mission Statement</h3>
<p>
    We are committed to delivering innovative, cost-effective, secure, reliable, and integrated technology software solutions
    that support EBCI’s programs and initiatives.  We follow the fundamental principles of customer care, attention to detail,
    value proposition, and ongoing innovation.
</p>
<h3>Vision Statement</h3>
<p>
    Achieve increased operational and strategic effectiveness and efficiencies in business processes by delivering business
    solutions through information technology.
</p>
