@{
    ViewData["Title"] = "Contact";
}
<h3>@ViewData["Message"]</h3>

<address>
    282 Seven Clans Lane<br />
    Cherokee, NC 28719<br />
    Help Desk Number<br />
    <abbr title="Phone">P:</abbr>    
    828.359.6800 
</address>

<address>
    <p>
        <strong>Enterprise Systems Manager:</strong>
        <a href="mailto:junewalk@nc-cherokee.com">June Walker</a><br />
        <abbr title="Phone">P:</abbr>
        828.359.6817
    </p>
    <p>
        <strong>Business Analyst:</strong>
        <a href="mailto:darlcris@nc-cherokee.com">Darlene Crisp</a><br />
        <abbr title="Phone">P:</abbr>
        828.359.6802
    </p>
    <p>
        <strong>Application Developer:</strong> 
        <a href="mailto:shawvota@nc-cherokee.com">Shawn Votaw</a><br />
        <abbr title="Phone">P:</abbr>
        828.359.6779
    </p>
    <p>
        <strong>Electronic Documents Specialist:</strong> 
        <a href="mailto:dustbark@nc-cherokee.com">Dusti Bark</a><br />
        <abbr title="Phone">P:</abbr>
        828.359.6084
    </p>
</address>
