@model AppPortal.Models.Finance.Analyst

@{
    ViewData["Title"] = "EditAnalyst";
}

<h3>Edit Analyst</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditAnalyst">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AnalystName" class="control-label"></label>
                <input asp-for="AnalystName" class="form-control" />
                <span asp-validation-for="AnalystName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnalystEmail" class="control-label"></label>
                <input asp-for="AnalystEmail" class="form-control" />
                <span asp-validation-for="AnalystEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AnalystList">Back to List</a>
</div>

