@model AppPortal.ViewModels.OrgViewModel

@{
    ViewData["Title"] = "Edit Division";
}

<h2>EditDivision</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditDivision">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Division.Id" />
            <div class="form-group">
                <label asp-for="Division.DivisionName" class="control-label"></label>
                <input asp-for="Division.DivisionName" class="form-control" />
                <span asp-validation-for="Division.DivisionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Division.DivLead)
                @Html.DropDownListFor(m => m.Division.DivLeadId,
                    new SelectList(Model.Leads, "Id", "DivLeadName"),
                    "Select a Secretary", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DivisionList">Back to List</a>
</div>

