@model AppPortal.Models.Finance.DivLead

@{
    ViewData["Title"] = "EditLead";
}

<h3>Edit Secretary</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditLead">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DivLeadName" class="control-label"></label>
                <input asp-for="DivLeadName" class="form-control" />
                <span asp-validation-for="DivLeadName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DivLeadEmail" class="control-label"></label>
                <input asp-for="DivLeadEmail" class="form-control" />
                <span asp-validation-for="DivLeadEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DivLeadList">Back to List</a>
</div>

