@model AppPortal.ViewModels.OrgViewModel

@{
    ViewData["Title"] = "Edit Program";
}

<h3>Edit Program</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditProgram">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrgChart.Id" />
            <div class="form-group">
                <label asp-for="OrgChart.FundFunctProg" class="control-label"></label>
                <input asp-for="OrgChart.FundFunctProg" class="form-control" />
                <span asp-validation-for="OrgChart.FundFunctProg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrgChart.ProgramNum" class="control-label"></label>
                <input asp-for="OrgChart.ProgramNum" class="form-control" />
                <span asp-validation-for="OrgChart.ProgramNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrgChart.ProgramName" class="control-label"></label>
                <input asp-for="OrgChart.ProgramName" class="form-control" />
                <span asp-validation-for="OrgChart.ProgramName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.OrgChart.Division)
                @Html.DropDownListFor(m => m.OrgChart.DivisionId, new SelectList(Model.Divisions, "Id", "DivisionName"), "Select a division", new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.OrgChart.Analyst)
                @Html.DropDownListFor(m => m.OrgChart.AnalystId, new SelectList(Model.Analysts, "Id", "AnalystName"), "Select an analyst", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

