
@{
    ViewData["Title"] = "Index";
}


<h3>Finance</h3>

<hr />

<div><a asp-area="" asp-controller="FundingRequest" asp-action="Index">Submit Funding Request Form</a></div>
<br />
<div><a asp-area="" asp-controller="Finance" asp-action="ProgramsList">Manage Org Chart</a></div>
