
@{
    ViewData["Title"] = "Index";
}


<h3>Finance</h3>

<hr />

<h4 style="color:red">@TempData["ErrorMessage"]</h4>
<div class="list-group col-md-4">
    <a class="list-group-item list-group-item-action active"  asp-area="" asp-controller="FundingRequest" asp-action="Index">Submit Funding Request Form</a>
</div>
