
@{
    ViewData["Title"] = "Index";
}


<h3>Finance</h3>

<hr />

<h4 style="color:red">@TempData["ErrorMessage"]</h4>
<div class="list-group col-md-4">
    <a class="list-group-item list-group-item-action active"  asp-area="" asp-controller="FundingRequest" asp-action="Index">Submit Funding Request Form</a>
</div>
<br />
<br />
<br />
<br />
<div class="list-group col-md-4">
    <p class="list-group-item list-group-item-danger">** For finance administrative purposes only</p>
    <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Finance" asp-action="ProgramsList">Click here to manage Program table</a>
    <a  class="list-group-item list-group-item-action" asp-area="" asp-controller="Finance" asp-action="DivisionList">Click here to manage Division table</a>
    <a  class="list-group-item list-group-item-action" asp-area="" asp-controller="Finance" asp-action="DivLeadList">Click here to manage Division Leads</a>
    <a  class="list-group-item list-group-item-action" asp-area="" asp-controller="Finance" asp-action="AnalystList">Click here to manage Analyst table</a>
</div>

